/*
* @Author: lizeshuai
* @Date:   2017-01-06 16:53:48
* @Last Modified by:   lizeshuai
* @Last Modified time: 2017-02-21 17:20:11
*/
/*css 样式初始化开始*/
@charset "UTF-8";

body, p, dl, dd, h1, h3, h4 ,span{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
body{
    font-family:'STHeiti Light','STHeiti Light','microsoft yahei UI','宋体';
}
section.active{
    -webkit-filter: blur(6px); /* Chrome, Opera */
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}
h1,h2,h3,h4,h5,h6{
    font-family:'microsoft yahei';
}
#header.active{
    -webkit-filter: blur(6px); /* Chrome, Opera */
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}
#footer.active{
    -webkit-filter: blur(6px); /* Chrome, Opera */
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
a img{
    border:none;
}
em{
    font-style: normal;
}
button{
    border: none;
    outline:none
}
textarea{
    resize: none;
}
/*css 样式初始化结束*/


/*css 工具类开始*/
.clearfix{
    zoom: 1;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.yfb_c_r {
    color: #ff6600;
}

.yfb_c_b {
    font-weight: 600;
}

.yfb_c_9 {
    color: #999999;
}
/*css 工具类结束*/
select{
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline:none;
    border-radius:1px;
    height:28px;
    border:1px solid #cccccc;
    padding:0 10px;
    text-align:center;
}
input{
    margin:0;
    padding:0;
    border:1px solid #cccccc;
    padding:0px 5px;
    outline:none;
}
input[type="checkbox"]{
    display:none;
}
label{
    display:inline-block;
}
label::before{
    display:inline-block;
    content:'';
    vertical-align: middle;
    width:13px;
    height:13px;
    border:1px solid #333;
    margin:0 5px;
    background-color: #fff;
    /* position: relative; */
    /* top: -1px; */
}
form label.error {
    position: absolute;
    line-height: 32px;
    height: 32px;
    color: #fff;
    padding: 0 10px;
    border-radius: 4px;
    background: #ff4747;
    top: -38px;
    left: 0px;
}
form label.error::before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border: 0;
    margin: 0;
    /*vertical-align: none;*/
    /*background-color: none;*/
    background: url(../img/sanjiao-form.png) center -20px no-repeat;
    position: absolute;
    top: 30px;
    left: 13px;
}
input[type="checkbox"]:checked+label::before{
    background: #fff url(../img/duihao.png) no-repeat center center;
}
.shengluehao{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
table{
    border-collapse:collapse;
    border:1px solid #f0f0f0;
}
table td{
    border:1px solid #f0f0f0;
}
.disabled{
    border:1px dashed #cccccc;
    color:#cccccc;
    cursor:not-allowed;
}
.bomp-box{
    display: none;
    position: fixed;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    top: 50%;
    z-index: 99;
    min-width: 360px;
    line-height: 60px;
    background: rgba(255,45,75,.88);
    border: 4px solid #ff2d4b;
    font-size: 18px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3)
}
.common-mask{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    opacity: 0.8;
    z-index: 98;
    display: none;
}
.validate-em{
    display: block;
    position: relative;
}
.hide{
    display: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus, .btn-default.focus {
    color: #ff5252;
    background-color: #fff;
    border-color: #ff5252;
}
.btn-default:hover {
    color: #ff5252;
    background-color: #fff;
    border-color: #ff5252;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-primary {
    color: #ff5252;
    background-color: #fff;
    border-color: #ff5252;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #ff5252;
    border-color: #ff5252;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff5252;
    border-color: #ff5252;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #bb1f25;
    border-color: #bb1f25;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-danger {
    color: #fff;
    background-color: #ff5252;
    border-color: #ff5252;
}
.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #e83531;
    border-color: #e83531;
}
.btn-danger:hover {
    color: #fff;
    background-color: #e83531;
    border-color: #e83531;
}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
/*弹出层的登陆样式*/
.yfubao-login-div{
    position: fixed;
    width: 311px;
    height: 475px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -250px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}
.yfubao-login-mask{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-color: #000000;
}

.form-title{
    height: 50px;
    background-color: #333333;
    padding: 0 15px;
}
.form-title .left-p{
    height: 50px;
    line-height: 50px;
    color: #CCCCCC;
    float: left;
    font-size: 16px;
    font-family: "Microsoft Yahei";
}
.form-title .right-p{
    float: right;
    cursor: pointer;
    margin-top: 14px;
    width: 20px;
    height: 19px;
    background: url("../img/x20-19-write.png") no-repeat;
}
/*弹出层登陆样式结束*/
.fixed-footer{
    position: fixed;
    bottom: 0;
}

.common-select {
    position: relative;
    float: left;
    cursor: pointer;
    width: 157px;
    line-height: 32px;
}
.common-select .common-select-p {
    width: 100%;
    text-align: center;
    border: 1px solid #cccccc;
    background: url("../img/xiaosanjiao.png") 138px center no-repeat;
}
.common-select ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 31px;
    z-index: 999;
    border: 1px solid #cccccc;
    display: none;
    background-color: #fff;
}
.common-select ul li {
    text-align: center;
    width: 100%;
}
.common-select ul li:hover {
    background-color: #f0f0f0;
}
.common-select select {
    padding: 0 55px;
}
.list-null{
    width: 996px;
    height: 430px;
    border: 1px solid #f0f0f0;
}
.list-null img{
    display: block;
    margin: 0 auto;
    margin-top: 75px;
}
.list-null p{
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    color: #333333;
}

.success-toast {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3.96px 0.04px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 3.96px 0.04px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 3.96px 0.04px rgba(0, 0, 0, 0.24);
    width: 296px;
    height: 76px;
    position: fixed;
    z-index: 999;
    left: 50%;
    margin-left: -148px;
    top: 50%;
    margin-top: -80px;
    background-color: #fff;
    text-align: center;
}
.success-toast .success-toast-text{
    margin-top: 17px;
    display: inline-block;
    padding-left: 57px;
    height: 43px;
    line-height: 43px;
    background: url("../img/success-icon-big.png") left center no-repeat;
    font-size: 16px;
}
.success-toast .success-toast-text.warn{
    background-image: url("../img/notice-icon.png");
}