/*
* @Author: lizeshuai
* @Date:   2017-02-27 10:41:02
* @Last Modified by:   lizeshuai
* @Last Modified time: 2017-03-01 14:32:34
*/
@charset "UTF-8";

#header {
   /*  overflow:hidden; */
    height: 160px;
}
.mk-header {
    border-bottom: 3px solid #333333;
    /* margin-bottom: 20px; */
}
.header-content-top-box {
    height: 30px;
    background: #f6f6f6;
    border-bottom: 1px solid #d4d4d4;
}
.header-content-top {
    width: 1200px;
    margin: 0 auto;
    font-family: '宋体';
    color: #333333;
    font-size: 12px;
}
.aboutEfubao{
    float:left;
    line-height:30px;
    color:#333333;
}
.header-list {
    float: right;
}
.header-list li {
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}
.header-list li a {
    color: #333333;
}
.header-list li a:hover {
    color: #ff4747;
}
.login {
    min-width: 50px;
    height: 26px;/* border-bottom:1px dashed #ff4747; */
}
.register {
    width: 58px;
    height: 26px;/* border-bottom:1px dashed #ff4747; */
}
.header-list .notice {
    margin-left: 26px;
    position: relative
}
.yfb_topcode {
    position: absolute;
    top: 28px;
    z-index: 999;
    display: none;
}
.header-list li.notice:hover .yfb_topcode {
    display: block;
}
.header-content-bottom-box {
    height: 50px;
}
.header-content-bottom {
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    margin-top: 40px;
}
.mk-logo {
    margin-right : 10px;
    margin-top: -23px;
    margin-left : -2px;
    float: left;
    text-indent: 99999px;
    font-size: 0;
    width: 160px;
    height: 62px;
    background: url(../img/size-logo.png) center center no-repeat;
}
.header-content-bottom ul {
    float: left;
}
.header-content-bottom ul li {
    float: left;
}
.header-content-bottom h3 {
    font-size: 0;
    width: 108px;
    height: 50px;
}
.shejiguan {
    background: url(../img/shejiguan.png) center center no-repeat;
}
.anlizhanshi {
    background: url(../img/anlizhanshi.png) center center no-repeat;
}
.xinwenzixun {
    background: url(../img/xinwenzixun.png) center center no-repeat;
}
.top_menu h3:hover {
    background: url("../img/so_opne.png") no-repeat center center;
}
.top_menu h3.xinwenzixun:hover{
  background:url(../img/xinwenzixun.png) center center no-repeat;
}
.mk-search-box {
    float: left;
    position: relative;
    border: 1px solid transparent;
    /* border-radius: 4px; */
    overflow: hidden;
    margin-left: 277px;
    width: 595px;
    box-sizing:border-box;
}
.mk-search {
    outline: none;
    width: 553px;
    height: 34px;
    border: 1px solid #e1e1e1;
    /* border-radius: 4px; */
    padding-left: 35px;
    background: url(../img/fangdajing.png) 8px center no-repeat;
}
.mk-search-btn {
    font-size: 13px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 36px;
    width: 88px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    background: #333333;
    letter-spacing: 2px
}
.mk-search-btn:hover{
    background-color:#FF5252 ;
}
#footer {
    height: 190px;
    background: #333333;
    margin-top: 120px;
}
.border {
    padding-top: 13px;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #ff4747;
}
.footer-content {
    width: 1200px;
    margin: 0 auto;
}
.footer-list {
    margin-top: 13px;
}
.footer-list li {
    float: left;
    color: #b0b0b0;
    font-size: 13px;
}
.footer-list li a {
    font-size: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.footer-list .erweima-area {
    float: right;
}
.left-area p {
    margin-bottom: 12px;
}
.logo-bottom {
    width: 161px;
    height: 60px;
    background: url(../img/footer_logo.png) center center no-repeat;
    margin-bottom: 20px;
    margin-right: 63px;
}
.middle-area {
    margin-top: 74px;
}
.middle-area p {
    line-height: 28px;
}
.middle-area .beian {
    margin-right: 28px;
}
.erweima {
    width: 94px;
    height: 94px;
    background: url(../img/erweima.png) center center no-repeat;
    margin-bottom: 11px;
}
.erweima-area p {
    line-height: 22px;
    text-align: center;
}
.mk-nav-box {
    height: 40px;
    background: url(../img/heitiao.png) center center repeat-x;
}
.mk-nav {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}
.mk-nav li {
    float: left;
    padding: 0 33px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
}
.mk-nav li:hover {
    background: #232323;
}
.mk-nav li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}


/* 二级导航 */
.mk-nav>ul>li{
    position: relative;
}
.second-nav{
    display: none;
    position: absolute;
    width: 140px;
    background-color: #ffffff;
    left: 0px;
    top: 39px;
    z-index: 99;
    color: #666666;
    font-size: 14px;
    box-shadow: 0px 1px 5px 0px rgba(4, 0, 0, 0.3);

}
.second-nav li{
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
}
.second-nav li:hover{
    background-color: #fff;
}
.mk-nav .second-nav a{
    color: #666666;
    display: block;
    width: 120px;
    border-bottom: 1px solid #EEEEEE;
    line-height: 40px;
    text-align: center;
    box-sizing:border-box;
}
.mk-nav .second-nav a:hover{
    color: #ff5252;
    background-color: #fff;
}
.mk-nav li:hover .second-nav{
    display: block;
}
.mk-header{
    border-bottom: none;
}
.myshoppingcar{
	float: right;
	width: 143px;
	height: 34px;
	border: 1px solid #F0F0F0;
    margin-top: 1px;
}
.myshoppingcar-img2{
    float: left;
    width: 18px;
    height: 18px;
    background:url(../img/index/shoppingcar.png) no-repeat;
    margin-left: 12px;
    margin-top: 9px;
}
.myshoppingcar-p2{
    float: left;
    margin-left: 10px;
    line-height: 35px;
    font-size: 13px;
}
.shoppingcar-number{
    margin-top: 9px;
    min-width: 16px;
    height: 16px;
    float: left;
    margin-left: 4px;
    border-radius: 50%;
    background-color: #FF5252;
    line-height: 17px;
    text-align: center;
    color: #fff;
}
.head-nav{
	width: 1200px;
	margin:0 auto;
	height: 46px;
}
.head-nav .list-head{
	float: left;
	width: 186px;
	height: 46px;
	background-color: #333333;
	box-sizing:border-box;
}
.head-nav .list-head span{
	font-size: 13px;
	color: #fff;
	line-height: 46px;
	margin-left: 18px;
}
.head-nav .head-nav-list{
	float: left;
	margin-left: 22px;
} 
.head-nav .head-nav-list ul li{
	float: left;
}
.head-nav .head-nav-list ul li a{
	font-size: 16px;
	color: #333333;
	display: block;
	line-height: 46px;
	margin-right: 57px;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.new-banner .new-banner-left {
    float: left;
    box-sizing: border-box;
    width: 186px;
    height: 322px;
    background-color: #333333;
    /* padding-top: 8px; */
    position: relative;
    border-top: 1px solid #464646;
}
.new-banner .new-banner-left>ul>li {
    margin: 0 5px;
    height: 47px;
    border-bottom: 1px solid #464646;
    line-height: 47px;
    color: #F3F3F3;
    font-size: 13px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 14px center;
   
}
.new-banner .new-banner-left>ul>li:hover {
    background-color: #1C1C1C;
    margin: 0;
    padding-left: 5px;
    background-position: 19px center;
}

.new-banner .new-banner-left li a {
    color: #fff;
    display: block;
    padding-left: 38px;
}
.new-banner .new-banner-left>ul>li:nth-child(1) {
    background-image: url("../img/work.png");
}
.new-banner .new-banner-left>ul>li:nth-child(2) {
    background-image: url("../img/suit.png");
}
.new-banner .new-banner-left>ul>li:nth-child(3) {
    background-image: url("../img/outdoors.png");
}
.new-banner .new-banner-left>ul>li:nth-child(4) {
    background-image: url("../img/waiter.png");
}
.new-banner .new-banner-left>ul>li:nth-child(5) {
    background-image: url("../img/school.png");
}
.new-banner .new-banner-left>ul>li .second-ul{
    position: absolute;
    width: 186px;
    height: 322px;
    background-color: #F7F7F7;
    left: 186px;
    top: 0px; 
    z-index: 99;
    background-image: none;
    box-sizing:border-box;
    box-shadow: 0px 0px 10px 0px rgba(4, 0, 0, 0.2);
    display: none;
}
.new-banner .new-banner-left>ul>li .second-ul>li{
    height: 65px;
    margin: 0 7px;
}
.new-banner .new-banner-left>ul>li .second-ul>li a{
    height: 52px;
    display: block;
    border-bottom: 1px solid #F4F4F4;
    color: #595959;
    padding-top: 13px;
    padding-left: 15px;
}
.new-banner-left>ul>li .second-ul>li a .icon{
    float: left;
    width: 41px;
    height: 41px;
    text-align: center;
    background-position:center center;
    background-repeat: no-repeat;
}
.work li:nth-child(1) .icon{
    background-image: url("../img/index/work1.png");
}
.work li:nth-child(2) .icon{
    background-image: url("../img/index/work2.png");
}
.work li:nth-child(3) .icon{
    background-image: url("../img/index/work3.png");
}
.suit li:nth-child(1) .icon{
    background-image: url("../img/index/suit1.png");
}
.outdoor li:nth-child(1) .icon{
    background-image: url("../img/index/outdoor1.png");
}
.outdoor li:nth-child(2) .icon{
    background-image: url("../img/index/outdoor2.png");
}
.outdoor li:nth-child(3) .icon{
    background-image: url("../img/index/outdoor3.png");
}
.cooker li:nth-child(1) .icon{
    background-image: url("../img/index/cooker1.png");
}
.cooker li:nth-child(2) .icon{
    background-image: url("../img/index/cooker2.png");
}
.school li:nth-child(1) .icon{
    background-image: url("../img/index/school1.png");
}
.school li:nth-child(2) .icon{
    background-image: url("../img/index/school2.png");
}
.new-banner-left>ul>li .second-ul>li a .second-ul-p{
    float: left;
    height: 41px;
    line-height: 41px;
    margin-left: 12px;
}
.new-banner .new-banner-left .one-service {
    margin-left: 15px;
    margin-top: 47px;
    position: relative;
}
.new-banner .new-banner-left .one-service img {
    position: absolute;
    left: -18px;
    top: -49px;
}
.new-banner .new-banner-left .one-service a {
    display: block;
    width: 164px;
    height: 46px;
    border: 1px solid #717171;
    color: #fff;
    text-align: center;
    line-height: 46px;
    font-size: 13px;
}
.new-banner .new-banner-left .one-service a:hover {
    border-color: #b4b4b4;

}
.new-banner .new-banner-left>ul>li:hover .second-ul{
    display: block;
}
.new-banner .new-banner-left>ul>li:hover .second-ul>li:hover{
    background-color: #F1F1F1;
    margin: 0;
    padding-left: 7px;
}
.login a{
    margin-left: 8px;
}
.empty .shoppingcar-number{
    display: none;
}
.empty .myshoppingcar-img2{
    margin-left: 24px;
}