/*å·¦è¾¹æ å¯¼èˆª*/
.left-nav {
    float: left;
    width: 192px;
    margin-right: 10px;
    background-color: #fff;
    margin-bottom: 100px;
}
.right-content {
    float: left;
}
.left-nav h3 {
    font-size: 14px;
    color: #fff;
    background: #333333;
    height: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: normal;
    padding-left: 19px;
    margin-left: 0;
}
.left-nav dl {
    padding: 5px 0 2px 0;
    border-top: 1px solid #f0f0f0;
}
.left-nav dl:first-child {
    border-top: 0;
}
.left-nav .order-center {
    background: url(../img/left_menu_order.png) 4.5% 7px no-repeat;
}
.left-nav .size-center {
    background: url(../img/left_menu_order.png) 4.5% -20px no-repeat;
}
.left-nav .account-setting {
    background: url(../img/left_menu_order.png) 4.5% -47px no-repeat;
}
.left-nav dt {
    padding-left: 34px;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    font-weight: 400;
}
.left-nav dd {
    padding-left: 34px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}
.left-nav dd:hover, .left-nav dd.active:hover {
    color: #ff5252;
    text-decoration: underline;
}
.left-nav dd.active {
    background-color: #e9e9e9;
    color: #333;
}
.nav-tab {
    width: 190px;
    min-height: 429px;
    border: 1px solid #f0f0f0;
    border-top: 0;
}
/*å·¦è¾¹æ å¯¼èˆªç»“æŸ*/