

.form .login-phone{
    border-right:0;
}

.phone-number,.password,.reg-code,.phone-number1,.reg-code1,.message,.get-message{
    height:36px;
    margin-bottom:20px;
    padding-left:10px;
    padding-right:0px;
    border:1px solid #cccccc;
}
.phone-number,.phone-number1{
    width:260px;
}
.password{
    width:260px;
}
.reg-code-box,.reg-code-box1{
    position:relative;
    width:272px;
    height:40px;
    margin-bottom:20px;
}
.reg-code,.reg-code1,.message,.get-message{
    width:120px;
    height:34px;
    margin-right:6px;
    float:left;
    margin-bottom:0;
    margin-top: 2px;
}
.img-code,.img-code1{
    display:block;
    width:132px;
    float:left;
}
.img-code-url,.img-code-url1{
    display:inline-block;
    width:86px;
    height:36px;
    border:1px solid #f0f0f0;
}
.img-code-url .outputImage{
    width:86px;
    height:36px;
}
.message-box{
    width:272px;
    height:40px;
}
.get-message{
    width:120px;
    border:1px solid #ff5252;
    color:#ff5252;
    text-align:center;
    line-height:34px;
    padding-left:0;
    margin-right:0px;
}
.refresh,.refresh1{
    cursor:pointer;
    display:inline-block;
    width:38px;
    height:38px;
    background:url(../img/Refresh.png) center center no-repeat;
}
.tip{
    font-size:13px;
    font-family:'Microsoft Yahei';
}
.two-week-box{
    float:left;
}
.forget-password{
    float:right;
    color:#0b62b4;
    text-decoration: underline;
}
.sub-btn,.sub-btn1{
    display:block;
    width:272px;
    height:40px;
    text-align: center;
    line-height:40px;
    color:#fff;
    background:#ff5252;
    margin-top:40px;
    margin-bottom:48px;
    font-size:16px;
}
.sub-btn:hover{
    background:#ff4040;
}
.sub-btn1:hover{
    background:#ff4040;
}
.none{
    display:none;
}
.block{
    display:block;
}
#page1Form{
    width: 271px;
}
em{
    position: relative;
    display: block;
}
#page1Form{
    margin: 100px auto;
}
.reg-code-box{
    display: none;
}