@charset "UTF-8";
*{
    font-family: "微软雅黑";
}
#header {
   /*  overflow:hidden; */
    height: 160px;
    background-color: #fff;
}
.mk-header {
    border-bottom: 3px solid #333333;
    /* margin-bottom: 20px; */
}
.header-content-top-box {
    height: 30px;
    background: #f6f6f6;
    border-bottom: 1px solid #d4d4d4;
}
.header-content-top {
    width: 1200px;
    margin: 0 auto;
    font-family: '宋体';
    color: #333333;
    font-size: 12px;
}
.aboutEfubao{
    float:left;
    line-height:30px;
    color:#333333;
}
.header-list {
    float: right;
}
.header-list li {
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}
.header-list li a {
    color: #333333;
}
.header-list li a:hover {
    color: #ff4747;
}
.login {
    min-width: 50px;
    height: 26px;
}
.register {
    width: 58px;
    height: 26px;
}
.header-list .notice {
    margin-left: 26px;
    position: relative
}
.yfb_topcode {
    position: absolute;
    top: 28px;
    left: 50%;
    margin-left: -50px;
    z-index: 999;
    display: none;
    box-shadow: 0px 0px 6.4px 1.6px rgba(0, 0, 0, 0.12);
}
.header-list li.notice:hover .yfb_topcode {
    display: block;
}
.header-content-bottom {
    width: 1200px;
    margin: 26px auto 0;
    height: 69px;
}
.mk-logo {
    margin-right: 10px;
    margin-top: -6px;
    float: left;
    text-indent: 99999px;
    font-size: 0;
    width: 160px;
    height: 62px;
}
.mk-logo a{
    display: block;
}
.mk-logo a img{
    display: block;
}
.header-content-bottom ul {
    float: left;
}
.header-content-bottom ul li {
    float: left;
}
.header-content-bottom h3 {
    font-size: 0;
    width: 108px;
    height: 50px;
}
.shejiguan {
    background: url(../img/shejiguan.png) center center no-repeat;
}
.anlizhanshi {
    background: url(../img/anlizhanshi.png) center center no-repeat;
}
.xinwenzixun {
    background: url(../img/xinwenzixun.png) center center no-repeat;
}
.top_menu h3:hover {
    background: url("../img/so_opne.png") no-repeat center center;
}
.top_menu h3.xinwenzixun:hover{
  background:url(../img/xinwenzixun.png) center center no-repeat;
}
.mk-search-box {
    float: left;
    position: relative;
    border: 1px solid transparent;
    /* border-radius: 4px; */
/*     overflow: hidden; */
    margin-left: 277px;
    width: 595px;
    box-sizing:border-box;
}
.mk-search {
    outline: none;
    width: 552px;
    height: 36px;
    border: 1px solid #e1e1e1;
    /* border-radius: 4px; */
    padding-left: 35px;
    background: url(../img/fangdajing.png) 8px center no-repeat;
}
.mk-search-btn {
    font-size: 13px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 38px;
    width: 88px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    background: #333333;
    letter-spacing: 2px
}
.mk-search-btn:hover{
    background-color:#FF5252 ;
}
.border {
    padding-top: 13px;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #ff4747;
}
.left-area p {
    margin-bottom: 12px;
}
.logo-bottom {
    width: 161px;
    height: 60px;
    background: url(../img/footer_logo.png) center center no-repeat;
    margin-bottom: 20px;
    margin-right: 63px;
}
.middle-area {
    margin-top: 74px;
}
.middle-area p {
    line-height: 28px;
}
.middle-area .beian {
    margin-right: 28px;
}
.erweima {
    width: 94px;
    height: 94px;
    background: url(../img/erweima.png) center center no-repeat;
    margin-bottom: 11px;
}
.erweima-area p {
    line-height: 22px;
    text-align: center;
}
.mk-header{
    border-bottom: none;
}
.myshoppingcar{
    cursor: pointer;
    float: right;
    position: relative;
    width: 143px;
    height: 36px;
    border: 1px solid #F0F0F0;
    margin-top: 1px;
}
.myshoppingcar-img2{
    float: left;
    width: 18px;
    height: 18px;
    background:url("../img/index/shoppingcar-script.png") 0 0 no-repeat;
    margin-left: 12px;
    margin-top: 9px;
}
.myshoppingcar-p{
	float: left;
	margin-left: 10px;
	line-height: 35px;
	font-size: 13px;
}
.myshoppingcar-p2{
    float: left;
    margin-left: 10px;
    line-height: 36px;
    font-size: 13px;
    color: #333333;
}
.shoppingcar-number{
    position: absolute;
    right: 3px;
    min-width: 36px;
    height: 36px;
    font-size: 20px;
    float: left;
    margin-left: 4px;
    border-radius: 50%;
    background-color: #FF5252;
    line-height: 36px;
    text-align: center;
    color: #fff;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
.head-nav{
	width: 1200px;
	margin:0 auto;
	height: 46px;
}
.head-nav .list-head{
	float: left;
	width: 200px;
	height: 46px;
	background-color: #272928;
	box-sizing:border-box;
}
.head-nav .list-head>span{
	font-size: 13px;
	color: #fff;
	line-height: 46px;
	margin-left: 18px;
}
.head-nav .head-nav-list{
	float: left;
	margin-left: 22px;
} 
.head-nav .head-nav-list ul li{
	float: left;
}
.head-nav .head-nav-list ul li a{
	font-size: 16px;
	color: #333333;
	display: block;
	line-height: 46px;
	margin-right: 57px;
}
.head-nav .head-nav-list ul li a:hover{
    color: #ff5252;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.new-banner .new-banner-left {
    float: left;
    box-sizing: border-box;
    width: 200px;
    height: 336px;
    background-color: #333333;
    /* padding-top: 8px; */
    position: relative;
    border-top: 1px solid #464646;
    display: none;
    z-index: 99;
}

.login a{
    margin-left: 8px;
}

#header {
   /*  overflow:hidden; */
    height: auto;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
.head-nav{
    width: 100%;
    border-bottom: 2px solid #333333;
}
.list-head:hover .new-banner-left{
    display: block;
}
.login a{
    margin-left: 8px;
}
.empty .shoppingcar-number{
    display: none;
}
.empty .myshoppingcar-img2{
    margin-left: 24px;
}
.head-nav .list-head .head-xiala{
    display: inline-block;
    width: 13px;
    height: 7px;
    background-image: url("../img/arrow.png");
    margin-left: 65px;
}
#mk_search_form {
    height: 36px;
}
.myshoppingcar:hover {
    border-color: #ff5252;
}
.myshoppingcar:hover .myshoppingcar-p2{
    color: #ff5252;
}
.myshoppingcar:hover .myshoppingcar-img2{
    background-position: 0 -29px;
}
.new-banner-left .first-ul-li{
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #464646;
    padding-left: 33px;
}
.new-banner-left .first-ul-li-top{
    position: relative;
    height: 46px;
    line-height: 46px;
}
.new-banner-left .first-ul-li-top a{
    font-size: 12px;
    color: #fff;
    font-family: "Songti";
    margin-left: 1px;
}
.new-banner-left .first-ul-li-top span{
    font-size: 13px;
    color: #fff;
}
.new-banner-left a:hover{
    text-decoration: underline;
}
.new-banner-left .li-icon1{
     width: 17px;
     height: 18px;
     position: absolute;
     background: url("../img/head-leftlist.png") -1px 0 no-repeat;
     left: -24px;
     top: 13px;
 }
.new-banner-left .li-icon2{
    width: 18px;
    height: 18px;
    position: absolute;
    background: url("../img/head-leftlist.png") 0px -101px no-repeat;
    left: -25px;
    top: 13px;
}
.new-banner-left .li-icon3{
    width: 19px;
    height: 19px;
    position: absolute;
    background: url("../img/head-leftlist.png") 0px -34px no-repeat;
    left: -25px;
    top: 13px;
}
.new-banner-left .li-icon4{
    width: 19px;
    height: 19px;
    position: absolute;
    background: url("../img/head-leftlist.png") 0px -69px no-repeat;
    left: -25px;
    top: 13px;
}
.new-banner-left .li-icon5{
    width: 19px;
    height: 19px;
    position: absolute;
    background: url("../img/head-leftlist.png") 0px -136px no-repeat;
    left: -25px;
    top: 13px;
}
.new-banner-left .li-icon6{
    width: 19px;
    height: 19px;
    position: absolute;
    background: url("../img/head-leftlist.png") 1px -171px no-repeat;
    left: -26px;
    top: 14px;
}
.new-banner-left .li-icon7{
    width: 16px;
    height: 17px;
    position: absolute;
    background: url("../img/peishi_icon.png")  no-repeat;
    left: -23px;
    top: 15px;
}
.new-banner-left .lastli{
    border-bottom: none;
}
#header .hot-word {
    width: 540px;
    padding-left: 8px;
    line-height: 30px;
    font-family: Songti;
}
#header .hot-word a {
    float: left;
    margin-right: 13px;
    color: #a0a0a0;
    letter-spacing: 0.3px;
    font-size: 12px;
}
#header .hot-word a:hover {
    color: #333;
}
.new-banner-left .child-ul{
    display: none;
    position: absolute;
    width: 186px;
    height: 336px;
    background-color: #fff;
    left: 200px;
    top: -1px;
    z-index: 99;
    background-image: none;
    box-sizing:border-box;
    box-shadow: 0px 0px 10px 0px rgba(4, 0, 0, 0.2);
}
.new-banner-left .child-ul li{
    height: 65px;
    margin: 0 7px;
}
.new-banner-left .child-ul li a{
    height: 52px;
    display: block;
    border-bottom: 1px solid #F4F4F4;
    color: #595959;
    padding-top: 13px;
    padding-left: 15px;
    text-decoration: none;

}
.new-banner-left .child-ul li:hover{
    background-color: #F1F1F1;
    margin: 0;
    padding-left: 7px;
}
.new-banner-left>ul>li .child-ul>li a .second-ul-p{
    float: left;
    height: 41px;
    line-height: 41px;
    margin-left: 12px;
    margin-left: 12px;
}
.new-banner-left>ul>li .child-ul>li a .icon{
    float: left;
    width: 41px;
    height: 41px;
    text-align: center;
    display: table-cell;
    vertical-align:middle;
    line-height: 41px;
}
.new-banner-left>ul>li .child-ul>li a .icon img{
    vertical-align:middle;
}
.new-banner-left .first-ul-li:hover{
    background-color: #1c1c1c;
}
.new-banner .new-banner-left>ul>li:hover .child-ul{
    display: block;
}
.inline{
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/index/index-list.png");
}
.inline.li1-1{
    width: 27px;
    height: 29px;
    background-position: 0 0;
}
.inline.li1-2{
    width: 21px;
    height: 26px;
    background-position: -50px 0;
}
.inline.li1-3{
    width: 22px;
    height: 28px;
    background-position: -102px 0;
}
.inline.li1-4{
    width: 24px;
    height: 32px;
    background-position: -198px -135px;
}
.inline.li2-1{
    height:26px;
    width:26px;
    background-position: -3px -45px;
}
.inline.li2-2{
    height:26px;
    width:29px;
    background-position: -47px -46px;
}
.inline.li2-3{
    height:26px;
    width:28px;
    background-position: -98px -46px;
}
.inline.li3-1{
    height:26px;
    width:29px;
    background-position: -2px -91px;
}
.inline.li3-2{
    height:23px;
    width:23px;
    background-position: -50px -89px;
}
.inline.li3-3{
    height:26px;
    width:25px;
    background-position: -100px -91px;
}
.inline.li3-4{
    height:26px;
    width:29px;
    background-position: -145px -92px;
}
.inline.li3-5{
    height:25px;
    width:27px;
    background-position: -197px -93px;
}
.inline.li4-1{
    height:28px;
    width:32px;
    background-position: -1px -136px;
}
.inline.li4-2{
    height:29px;
    width:31px;
    background-position: -49px -137px;
}
.inline.li4-3{
    height:28px;
    width:22px;
    background-position: -102px 0;
}
.inline.li4-4{
    height:31px;
    width:30px;
    background-position: -148px -136px;
}
.inline.li5-1{
    height:26px;
    width:26px;
    background-position: -6px -186px;
}
.inline.li5-2{
    height:27px;
    width:27px;
    background-position: -54px -185px;
}
.inline.li5-3{
    height:28px;
    width:27px;
    background-position: -101px -187px;
}
.inline.li5-4{
    height:29px;
    width:29px;
    background-position: -148px -186px;
}


