/*
* @Author: lizeshuai
* @Date:   2017-02-14 13:40:38
* @Last Modified by:   lizeshuai
* @Last Modified time: 2017-02-14 17:55:13
*/
#main{
    width:1200px;
    margin:0 auto;
    margin-top:20px;
}

.right-content{
    float:left;
    width:996px;
}
.right-content h1{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    color: #4E4E4E;
}
.right-content .title-box{
    height:38px;
    margin-bottom:18px;
    background:#f0f0f0;
}
.right-content .state_2 .size_btn {
    display: none;
}
.right-content .title-left{
    float:left;
    height:38px;
    padding-left:9px;
    padding-right:9px;
    line-height:38px;
}
.right-content .title-left p{
    float:left;
}
.right-content .title-left p:first-child{
    margin-right: 24px;
}
.margin-p{
    margin-right: 24px;
}
.right-content .title-left p:last-child{
    margin-left: 24px
}
.right-content .title-left p:first-child span:last-child{
    color:#ff4747;
}
.right-content .title-right{
    float:right;
    background:#fff;
}
.right-content .title-right a{
    display:block;
    float:right;
    width:144px;
    height:36px;
    border:1px solid #ff4747;
    font-size:13px;
    text-align:center;
    line-height:36px;
    margin-left:5px;
    color:#ff4747;
}
.right-content .size_btn{
    margin-right:6px;
    color:#ff4747;
}
.right-content .title-right a.active{
    background:#ff4747;
    color:#fff;
}

.detail-box{
    position:relative;
    margin-top:50px;
}
.mydetail-title{
    position:absolute;
    top:-32px;
    left:0;
}
.mydetail-title p{
    float:left;
    width:118px;
    height:32px;
    line-height:32px;
    text-align:center;
}
.mydetail-title p.active{
    border-top:2px solid #ff4747;
    border-left:1px solid #f0f0f0;
    border-right:1px solid #f0f0f0;
    border-bottom:0;
    background:#fff;
}
.mydetail-box{
    border:1px solid #f0f0f0;
}

.mydetail-main{
    width:952px;
    margin:0 auto;
    margin-top:30px;
}
.mydetail-main>div{
    border:1px solid #f0f0f0;
}
.mydetail-main .need-process{
    border:0;
    width:866px;
    margin:0 auto;
    margin-top:46px;
    font-family: "Microsoft Yahei UI", "Songti";
}
.need-status{
    padding-left:29px;
    margin-bottom:18px;
}
.need-status li{
    /* height:36px; */
    line-height:34px;
}
.need-status li p{
    float: left;
    margin: 0;
}
.need-status li p:first-child{
    margin-right:64px;
}
.need-status li:first-child p:last-child{
    color:#ff4747;
}
.need-detail{
    padding-left:11px;
    padding-top:18px;
    padding-bottom:18px;
}
.need-detail h1{
    font-weight:200;
}
.need-detail ul li{
    width:88px;
    float:left;
    height:30px;
    line-height:30px;
    margin-right:60px;
}
.need-list{
    border-width: 0 !important;
}
.yfb_progress_list {
    margin-left: -20px;
    width: 926px;
    height: 140px;
}
.yfb_progress_list li {
    width: 115px;
    height: 140px;
    position: relative;
    float: left;
}
.col-8.yfb_progress_list li {
    width: 115px;
}
.col-9.yfb_progress_list li {
    width: 100px;
}

.yfb_progress_list dt {
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: block;
}

.yfb_progress_list dd {
    height: 16px;
    line-height: 16px;
    text-align: center;
}

.yfb_progress_top {
    width: 115px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: relative;
}
.col-9 .yfb_progress_top {
    width: 100px;
}
.yfb_progress_top i {
    width: 13px;
    height: 28px;
    background: url("../img/progress_icon.jpg") no-repeat left center;
    display: inline-block;
}

.yfb_progress_line {
    width: 77px;
    height: 3px;
    position: absolute;
    left: -39px;
    top: 13px;
    background-color: #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.col-8 .yfb_progress_line {
    width: 92px;
    left: -46px;
}
.col-9 .yfb_progress_line {
    width: 77px;
    left: -39px;
}

.yfb_progress_list .active .yfb_progress_icon {
    background: url("../img/progress_icon_active.jpg") no-repeat left center;
}

.yfb_progress_list .active .yfb_progress_line {
    background-color: #ff5252;
}
.yfb_progress_top .yfb_cancel_line:after {
    content: "";
    width: 39px;
    height: 3px;
    position: absolute;
    left: -54px;
    top: -1px;
    z-index: 3;
    background-color: #ff5252;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.col-8 .yfb_progress_top .yfb_cancel_line:after {
    width: 46px;
    left: -48px;
}
.col-9 .yfb_progress_top .yfb_cancel_line:after {
    width: 39px;
    left: -54px;
}
.yfb_cancel_line {
    display:none;
    width: 36px;
    height: 52px;
    position: absolute;
    left: 115px;
    top: 14px;
}
.yfb_cancel_line.active{
    display:block;
}

table .number{
    margin-top:10px;
}
table tbody{
    line-height: 24px;
}
table tbody p{
    /**height: 24px;**/
}
.table-title{
    border-bottom:0;
    width: 952px;
}
.table-title tr{
    height: 32px;
}
.table-title th{
    font-weight: normal;
    font-size: 12px;
    font-family: "Songti";
}
.table-title th .shop-name{
    margin-left: 10px;
}
.category-name{
    display:block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.single-price,.service-price,.sm-total{
    margin-right:10px;
    margin-top:10px;
}
.service{
    margin-left:10px;
    margin-top:10px;
}
.sm-total{
    color:#ff4747;
}
.enterSize{
    display:block;
    width:108px;
    height:26px;
    border:1px solid #ff4747;
    color:#ff4747;
    text-align:center;
    line-height:26px;
    margin-top:15px;
}
.enter-size{
    display:block;
    width:108px;
    height:26px;
    border:1px solid #ff4747;
    color:#ff4747;
    text-align:center;
    line-height:26px;
    margin-top:15px;
}
.information{
    width:952px;
    margin:0 auto;
    margin-top:16px;
    border-width: 0 !important;
    margin-bottom: 18px;
    overflow: hidden;
    position: relative;
}
.information-arrow{
    display: none;
}
.information:hover .information-arrow{
    display: block;
}
.information table{
    width: 2000px;
    border: none;
    display: block;
}
.information td{
    padding:12px;
    /*display: none;*/
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.information p{
    line-height:28px;
    /*height: 28px;*/
}
.information p span{
    float:left;
}
.information p span:last-child{
    width:128px;
    overflow: hidden;
    word-wrap: break-word;
}
.total-money{
    float:right;
    margin-top:15px;
    margin-bottom:34px;
}
.total-money i{
    color:#ff4747;
    font-style:normal;
}
.total-money span:last-of-type{
    color:#ff4747;
    font-size:30px;
}

#pay-tip {
    clear: both;
    display:none;
    width:622px;
    padding:0 19px;
    background:#fff;
    z-index: 11;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
#pay-tip.active{
    display:block;
}
#pay-tip .total{
    height:60px;
    line-height:60px;
}
#pay-tip .total span{
    font-size:22px;
    color:#ff4747;
}
.feiyong{
    border-bottom:1px solid #cccccc;
    padding-bottom: 10px;
    margin-top:13px;
}
.feiyong input{
    position: relative;
    top: 3px;
    float:left;
    margin-right: 8px
}
.feiyong-top label{
    float:left;
}
.feiyong p{
    float:left;
    margin-right:20px
}
.feiyong-bottom{
    margin-left:24px;
    margin-top:13px;
}
.pay-status{
    background:#cccccc;
    padding:0 5px;
    margin-left:9px;
}
.pay-status.finish {
    background: #71b247;
    color: #fff;
}
.feiyong-bottom p{
    margin-right:68px;
}
.btn-area{
    width:272px;
    margin:0 auto;
    padding-top:17px;
    padding-bottom:22px;
}
.btn-area a{
    float:left;
    display:block;
    width:120px;
    height:32px;
    text-align:center;
    line-height:32px;
    border:1px solid #cccccc;
    margin-left:5px;
    color:#333;
}
.btn-area .pay-btn{
    color:#fff;
    background:#ff4747;
    border-color:#ff4747;
}
#main.active {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}
.mask{
    display:none;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#fff;
    opacity:0.4;
    filter:alpha(opacity=40);
}
.mask.active {
    display: block;
}

/*ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â°Ãƒâ€šÃ‚ÂºÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¦Ãƒâ€¦Ã¢â‚¬Å“Ãƒâ€šÃ‚ÂºÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â */
#size-tip{
    width:526px;
    position: fixed;
    padding-bottom:20px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    background:#fff;
    display:none;
    z-index:999;
}
#size-tip.active{
    display:block;
}
.size-title{
    background: #333;
    position: relative;
    background: url(../img/heitiao.png) center center repeat-x;
    margin-bottom:21px;
}
.size-title h3{
    padding:0 15px;
    color: #fff;
    margin: 0 auto;
    font-size: 14px;
    font-weight:normal;
    line-height: 42px;
    height: 42px;
}
.size-close {
    cursor:pointer;
    position: absolute;
    right: 11px;
    top: 11px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/Close.png) center center no-repeat;
}
.size-close:hover {
    background: url(../img/CloseHover.png) center center no-repeat;
}
.size-area{
    padding:0 22px;
    margin-bottom:44px;
    max-height: 400px;
    overflow: auto;
}
.size-area .size-name{
    height:38px;
    line-height:38px;
    float:left;
}
.size-area .size-number-list{
    overflow:hidden;
}
.size-number-list li{
    height:28px;
    line-height:28px;
    padding:5px 5px;
    margin-bottom:5px;
}
.size-number-list li:hover{
    background:#f0f0f0;
}
.size-number-list li:hover a{
    display:block;
}
.size-number-list p,.size-number-list input{
    float:left;
    width:88px;
    height:28px;
    line-height:28px;
    margin-right:6px;
}
.size-number-list p{
    border:1px solid #cccccc;
    background-color:#fff;
    text-align:center;
}
.size-number-list a{
    color:#333;
    display:none;
    float:right;
    width:45px;
    height:28px;
    line-height:28px;
    padding-left:20px;
    background:url(../img/delete.png) 5px center no-repeat;
}
.size-number-list a:hover{
    background:url(../img/deleteHover.png) 5px center no-repeat;
    color:#ff4747;
}
.size-number-list input{
    line-height:28px;
    height:28px;
    text-align:center;
}
#size-tip .add-size{
    display:block;
    width:107px;
    height:28px;
    text-align:center;
    color:#333;
    line-height:28px;
    border:1px solid #cccccc;
    margin-left:41px;
    margin-top:5px;
}
.add-size span{
    margin-right:5px;
}
.size-bottom{
    padding:0 22px;
}
.size-bottom .bottom-left{
    float:left;
    cursor:pointer;
    padding-left:26px;
    height:28px;
    line-height:28px;
    background:url(../img/lookSize.png) left center no-repeat;
}
.size-bottom .bottom-right{
    float:right;
}
.size-bottom .bottom-right a{
    float:left;
    display:block;
    width:102px;
    height:28px;
    line-height:28px;
    text-align:center;
}
.bottom-right .sure-btn{
    background:#ff4747;
    color:#fff;
    border:1px solid #ff4747;
    margin-left:5px;
}
.bottom-right .cancel-btn{
    background:#fff;
    color:#333;
    border:1px solid #cccccc;
}

/*tanceng*/
.delete-tip {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
.delete-tip {
    width: 412px;
    height: 180px;
    background: #fff;
    display: none;
}
.delete-tip.active {
    display: block;
    z-index: 9999;
}
.delete-tip .title {
    background: #333333;
    height: 40px;
}
.delete-tip h3 {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    line-height: 40px;
    height: 40px;
    background: url(../img/heitiao.png) center center repeat-x;
}
.delete-tip .btn-area {
    margin: 0 auto;
    margin-top: 30px;
    width: 260px;
}
.delete-tip .btn-area.active{
    width:130px
}
.delete-tip p {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
}
.delete-tip .sure-btn, .delete-tip .return-btn {
    float: left;
    display: block;
    width: 120px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ff4747;
}
.delete-tip .return-btn {
    margin-left: 6px;
    background: #fff;
    color: #ff4747;
}
.delete-tip .return-btn.red{
    color: #fff;
    background: #ff4747;
}
.delete-tip .sure-btn {
    color: #fff;
    background: #ff4747;
}
.delete-tip-sign p{
    margin-top:15px;
}
.delete-tip-sign .btn-area{
    margin-top:0px;
}
.reference{
    padding-bottom: 18px;
}
.reference .reference-name{
    width: 15em;
}
.need-status button{
    margin-left: 20px;
    float: left;
    height: 32px;
    border:1px solid #ff5252;
    background-color: #fff;
    line-height: 32px;
    width: 130px;
    color: #FF7D7D;
    cursor: pointer;
    font-size: 12px;
}
.need-status button:hover{
    background-color: #ff5252;
    color: #fff;
}
.information .show{
    display: table-cell;
}
.demand-confirm{
    padding-left: 29px;
    margin-bottom: 18px;
}
.demand-confirm p{
    float: left;
    width: 33.33%;
    height: 34px;
    line-height: 34px;
}
.demand-confirm .demand-confirm-note{
    float: left;
    line-height: 34px;
    width: 60%;
    padding-bottom: 18px;
}
.demand-confirm .demand-confirm-note .p1{
    width: 30px;
    float: left;
}
.demand-confirm .demand-confirm-note .p2{
    width: 500px;
    float: left;
    height: auto;
}
.ent-showimg{
    position: fixed;
    max-width: 600px;
    left: 50%;
    top: 50%;
    z-index: 999;
    display: none;
    border: 1px solid #cccccc;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.ent-showimg .ent-showimg-show{
    width: 100%;
    height: 100%;
}
.ent-showimg .close{
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/close-agree.png");
    z-index: 1000;
    width: 16px;
    height: 16px;
    background-color: #F4F4F4;
}
.ent-showimg .close:hover{
    background: url("../img/close-agree.png");
}
.ent-mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f0f0f0;
    opacity: 0.8;
    z-index: 998;
}
.commodity{
    display: block;
    padding: 16px 0;
    width:60px;
    color : #333;
}
.commodity:hover{
    color: #ff5252;
}
.click-download{
    margin-left: 20px;
    float: left;
    height: 32px;
    border: 1px solid #ff5252;
    background-color: #fff;
    line-height: 32px;
    width: 130px;
    color: #FF7D7D;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
.click-download:hover{
    color: #fff;
    background-color: #ff5252;
}
#result{
    height: 242px;
}
#result p{
    margin-top: 12px;
}
#result #text{
    text-align: left;
    padding-left: 22px;
    padding-top: 8px;
}
#result textarea{
    width: 362px;
    height: 68px;
}
#result #size-commit-buttons{
    margin-top: -16px;
    margin-left: 135px;
}
.red-popup-mask{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    opacity: 0.8;
    z-index: 98;
}
.red-popup{
    position: fixed;
    width: 394px;
    height: 461px;
    left: 50%;
    top: 50%;
    margin-left:-197px;
    margin-top: -300px;
    z-index: 99;
    background-image: url("../img/red-popup.png");
    display: block;
}
.red-popup-btn{
    width: 238px;
    height: 54px;
    margin: 0 auto;
    margin-top: 375px;
    background-image: url("../img/red-popup-btn.png");
    cursor: pointer;
}
.red-popup-btn:hover{
    background-image: url("../img/red-popup-btn-hover.png");
}
.red-popup-close{
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url("../img/red-popup-close.png");
    cursor: pointer;
    top: 85px;
    right: 20px;
}
.red-popup-module{
    display: none;
}
.red-popup-module-show{
    display: block;
}


.quotes-popup{
    position: fixed;
    width: 920px;
    min-height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -460px;
    margin-top: -280px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    display: none;
    z-index: 99;
}
.quotes-popup .quotes-popup-title{
    height: 42px;
    line-height: 42px;
    background-color: #333333;
    color: #fff;
}
.quotes-popup .quotes-popup-title-left{
    font-size: 14px;
    float: left;
    margin-left: 12px;
}
.quotes-popup .quotes-popup-title-right{
    background: url("../img/Close2.png") no-repeat;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 14px;
    margin-top: 12px;
    cursor: pointer;
}
.quotes-popup .quotes-popup-title-right:hover{
    background: url("../img/CloseHover.png") no-repeat;
}

.quotes-popup-btn{
    padding: 0 16px;
    padding-bottom: 20px;
    margin-top: 15px;
}
.quotes-popup .quotes-popup-ok{
    width: 132px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-color: #ff5252;
    color: #fff;
    font-size: 14px;
    float: right;
    margin-right: 8px;
}
.quotes-popup .quotes-popup-ok:hover{
    background-color: #ff4747;
}
.quotes-popup .quotes-popup-nook{
    width: 132px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    float: right;
    border: 1px solid #CCCCCC;
    color: #333333;
}
.quotes-popup .quotes-popup-nook:hover{
    border: 1px solid #ff5252;
    color: #ff5252;
}
.rules-content{
    padding: 0 20px;
    padding-top: 13px;
    text-align: left;
}
.rules-left{
    float: left;
    width: 640px;
}
.rules-content .rules-title{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-family: "microsoft yahei";
}
.rules-left .rules-imgshow{
    width: 640px;
    height: 340px;
    border: 1px solid #F0F0F0;
}
.rules-left .rules-imgshow a{
    display: block;
    text-align: left;
}
.rules-left .rules-imgshow img{
    max-width: 640px;
    max-height: 340px;
    display: block;
}
.rules-right{
    float: right;
    width: 230px;
}
.rules-right textarea{
    width: 232px;
    height: 342px;
    line-height: 20px;
    border: 1px solid #cccccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.upload-rules{
    margin-right: 10px;
    font-size: 12px;
    margin-top: 15px;
    width: 110px;
    cursor: pointer;
    margin-left: 10px;
    height: 28px;
    line-height: 28px;
}


.information-arrow .image-prev{
    background: url("../img/index_arrows.png") 0 0 no-repeat;
    width: 24px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}
.information-arrow .image-prev:hover{
    background: url("../img/index_arrows.png") 0px -170px no-repeat;
}
.information-arrow .image-prev:active{
    background: url("../img/index_arrows.png") 0px -340px no-repeat;
}
.information-arrow .image-next{
    background: url("../img/index_arrows.png") -50px 0px no-repeat;
    width: 24px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}
.information-arrow .image-next:hover{
    background: url("../img/index_arrows.png") -50px -170px no-repeat;
}
.information-arrow .image-next:active{
    background: url("../img/index_arrows.png") -50px -340px no-repeat;
}
.phone-number{
    max-width: 110px;
}
.information .table-width{
    width: 951px;
    display: table;
}
.information .webuploader-pick{
    background-image: none;
}
.need-list table tr{
    padding: 0;
    margin: 0;
}
.need-list table tr th{
    padding: 0;
    margin: 0;
}
.td-rules{
    margin-left: 10px;
    margin-top: 10px;
}
.bomp-box {
    z-index: 1000;
    margin-left:-160px;
}
.table-content{
    margin-top: 20px;
    width: 952px;
}

.td-rules-left.table-package li{
    text-align: left;
    position: relative;
    border-bottom:1px solid #F0F0F0;
    padding: 10px 0;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
}
.td-rules-left.table-package li:last-child{
    border-bottom: none;
}
.td-rules-left.table-package li .rule-name{
    line-height: 22px;
    padding-left: 27px;
    width: 10em;
}
.td-rules-left.table-package li .rule-name.complete{
    background: url("../img/size_completed.png") 3px center no-repeat;
}
.td-rules-left.table-package li .rule-name.incomplete{
    background: url("../img/size_waiting.png") 3px center no-repeat;
}
.td-rules-left.table-package li .rule-name.default{
    background: url("../img/size_default.png") 3px center no-repeat;
}
.td-rules-left.table-package li .rule-detail{
    line-height: 22px;
    padding-left: 27px;
}
.td-rules-left.table-package .rule-number{
    color: #ff5252;
}
.rule-ready{
    display: inline-block;
    padding-left: 20px;
    /*background: url("../img/success-icon.png") left center no-repeat;*/
}
.td-rules-left.table-package li .show-rules-detail{
    display: none;
    position: absolute;
    z-index: 99;
    width: 120px;
    left: 154px;
    top: 0;
    background: #fff;
    line-height: 158px;
    padding-bottom: 20px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.td-rules-left.table-package li:hover .show-rules-detail{
    display: block;
}
.td-rules-left.table-package li .show-rules-detail .rectangle{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -5px;
    top: 16px;
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: -1px 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.td-rules-left.table-package li .show-rules-detail p{
    padding-left: 15px;
    line-height: 30px;
}

.table-content .shop-detail {
    padding: 17px 6px;
    padding-left: 15px;
}
.table-content .shop-img-box{
    float: left;
}
.table-content .left {
    width: 80px;
    height: 80px;
    float: left;
    border: 1px solid #F0F0F0;
}
.table-content .right {
    min-height: 80px;
    padding-left: 10px;
    overflow: hidden;
    margin-top: -5px;
    float: left;
}
.table-content .right  p {
    line-height: 28px;
    max-width: 195px;
    float: left;
}
.table-content .right  p a{
    color: #333333;
}

.table-content .shop-server{
    line-height: 35px;
    padding: 0 6px;
}
.shop-server-price{
    margin-right: 10px;
}
.shop-detail-name span{
    float: left;
    width: 44px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background-color: #ff5252;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin-top: 6px;
    margin-left: 3px;
}