@charset "UTF-8";

#main{
	width:1200px;
	margin:0 auto;
	margin-top:20px;
}
.left-nav{
	float:left;
	width:192px;
	margin-right:10px;
}
.right-content{
	float:left;
}
.list-top{
	height: 188px;
	width:996px;
	border:1px solid #f0f0f0;
	margin-bottom: 30px;
	font-size: 14px;
	overflow: hidden;
}
.list-top-one{
	margin-top: 25px;
	height: 25px;
}
.list-top input{
	width: 185px;
	height: 25px;
}
.list-top .list-top-one .list-num{
	float: left;
	width: 33%;
	text-align: center;
}
.list-top .list-top-one .list-starttime{
	float: left;
	width: 33%;
}
.list-top .list-top-one .list-endtime{
	float: left;
	width: 33%;
}
.list-top .list-top-three{
	margin-top: 25px;
	height: 30px;
}
.list-top .list-top-three .list-query{
	width: 80px;
	height: 30px;
	background-color: #3399FF;
	margin-left: 378px;
	color: #ffffff;
}
.list-top .list-top-three .list-export{
	width: 140px;
	height: 30px;
	background-color: #3399FF;
	margin-left: 43px;
	color: #ffffff;
	background-color: #949494;
}
.left-nav h3{
	font-size:14px;
	color:#fff;
	background:#333333;
	height:40px;
	line-height:40px;
	letter-spacing: 2px;
	font-weight:normal;
	padding-left:19px;
}
.left-nav dl{
	border-top:1px solid #f0f0f0;
}
.lefft-nav dl:first-child{
	border-top:0;
}
.left-nav dt{
	padding-left:19px;
	font-size:13px;
	height:32px;
	line-height:32px;
}
.left-nav dd{
	padding-left:19px;
	height:32px;
	line-height:32px;
}
.left-nav dd.active{
	background:url(../img/dd-hover.png) left center repeat-x;
}
.nav-tab{
	width:190px;
	min-height:429px;
	border:1px solid #f0f0f0;
	border-top:0;
}
.right-content{
	width:996px;
}
.right-content h1{
	line-height: 24px;
    border-left: 2px solid #ff4747;
    padding-left: 9px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}

.order-list-area{
	border:1px solid #f0f0f0;
	padding-bottom:55px;
}
.list-tab{
	margin-bottom:26px;
}
.list-tab ul li{
	cursor:pointer;
	float:left;
	width:158px;
	height:38px;
	line-height:38px;
	text-align:center;
	font-size:13px;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
}
.list-tab ul li:hover{
	color:#ff4747;
}
.list-tab ul li.active{
	color:#ff4747;
	border-bottom:0;
}
.list-tab ul li span{
	color:#ff4747;
	margin-left:2px;
}
.order-list-area ul:first-child li:first-child{
	width:194px;
	border-left:0;
}
.order-list-area ul li:last-child{
	border-right:0;
}
.order-table-box{
	width:972px;
	margin-left:9px
}
.table-title{
	margin-bottom:24px;
	margin-left:9px;
}
.table-title th{
	font-weight:normal;
}
.order-status{
	position:relative;
}
.order-status-list{
	display:none;
	width:81px;
	background:#fff;
	position:absolute;
	top:0px;
	left:40px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}
.order-status-list.active{
	display:block;
}

.order-status-list li,.order-status-list p{
	text-align:left;
	height:27px;
	line-height:27px;
	padding-left:19px;
}
.order-status-list li.active{
	color:#ff4747;
	background:url(../img/v.png) 7px center no-repeat;
}
.order-title p{
	float:left;
	height:43px;
	line-height:43px;
}
.order-title .order-number{
	margin-left:17px;
}
.order-table-box .order-title p:last-child{
	float:right;
}
.order-title{
	background:#f5f5f5;
	border:1px solid #f0f0f0;
	padding:0 20px;
}
.order-title .time,.order-title label{
	font-weight:bold;
}
.order-table .left{
	position:relative;
	width:78px;
	height:78px;
	border:1px solid #f0f0f0;

}
.order-table .left{
	margin-left:16px;
	margin:16px 10px 16px 16px;
	float:left;
}
.order-table .right{
	 float: left;
    margin-top: 12px;
    padding-bottom: 3px;
}
.order-table .right-num{
	float:right;
	margin-top:12px;
	margin-right:10px;
	line-height:28px;
}
.order-table .category-name{
	width:128px;
}
.order-table .left img{
	width:78px;
	height:78px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
.order-table .right p{
	height:28px;
	line-height:28px;
}
.order-table .service{
	margin:16px 10px 16px 16px;
}
.red-point{
	float:left;
	width:6px;
	height:6px;
	border-radius:100%;
	background:#ff4747;
	margin-top:6px;
}
.status{
	margin:17px 0;
}
.status-btn{
	display:block;
	width:84px;
	height:22px;
	text-align:center;
	line-height:22px;
	margin-top:33px;
	margin-bottom:8px;
}
.look-detail{
	cursor:pointer;
}
.look-detail:hover{
	color:#ff4747;
}
.status-btn1{
	border:1px solid #ff4747;
	color:#ff4747;
	background:#fff;
}
.status-btn1:hover{
	color:#fff;
	background:#ff4747;
}
.status-btn2{
	border:1px solid #71b247;
	color:#71b247;
	background:#fff;
}
.status-btn2:hover{
	color:#fff;
	background:#71b247;
}
.status1{
	color:#ff4747;
}
.status3{
	color:#71b247;
}
.status2{
	color:#ffa320
}
.track-box{
	display:inline-block;
	position:relative;
}
.track-box:hover .wuliu-box{
	display:block;
}
.track{
	float:left;
	margin-left:10px;
}

.wuliu-box{
	display:none;
	position:absolute;
	top:-25px;
	right:80px;
	width:370px;
	background:#fff;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
	padding-bottom:18px;
}
.wuliu-box h3{
	height:34px;
	line-height:34px;
	text-align:left;
	border-bottom:1px solid #f0f0f0;
	margin:0 15px;
}
.wuliu-box .wuliu-info-box{
	margin-left:40px;
	border-left:1px solid #f0f0f0;
}
.wuliu-info{
	position:relative;
	padding:10px 0;
	padding-left:15px;
	
}
.wuliu-info p{
	line-height:16px;
	text-align:left;
}
.wuliu-info .red-point{
	width:5px;
	height:5px;
	position:absolute;
	left:-4px;
	top:18px;
	border:1px solid #f0f0f0;
	border-radius: 100%;
	background:#fff;
}
.wuliu-info .red-point.active{
	background:#ff4747;
	border:1px solid #ff4747;
}
#nav-right{
	width:58px;
	height:239px;
	border:1px solid #6c6c6c;
	border-top:2px solid #ff4747;
    background-color: #fff;
	position:fixed;
	right:8px;
	bottom:62px;
    z-index: 2;
}
#nav-right li{
	width:58px;
	height:59px;
	cursor:pointer;
}
#nav-right .xian{
	width:52px;
	height:1px;
	background:#f0f0f0;
	margin:0 auto;
}
.kefu{
	background:url(../img/kefu1.png) center bottom no-repeat;
}
.kefu:hover{
	background:url(../img/kefu2.png) center bottom no-repeat;
}
.sheji{
	background:url(../img/sheji1.png) center bottom no-repeat;
}
.sheji:hover{
	background:url(../img/sheji2.png) center bottom no-repeat;
}
.code{
	background:url(../img/guanzhu1.png) center bottom no-repeat;
	position:relative;
}
.erweimaC{
	display:none;
	position:absolute;
	width:135px;
	height:130px;
	top:-36px;
	left:-137px;
	background:url(../img/Code.png) center center no-repeat;
}
.code:hover{
	background:url(../img/guanzhu2.png) center bottom no-repeat;
}
.code:hover .erweimaC{
	display:block;
}
.gotop{
    width: 48px;
    height: 37px;
	background:url(../img/top1.png) center center no-repeat;
}
.gotop:hover{
    width: 48px;
    height: 37px;
	background:url(../img/top2.png) center center no-repeat;
}
.mask{
	display:none;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:#fff;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.pop{
	display:none;
	position:fixed;
	top:231px;
	left:50%;
	margin-left:-250px;
	width:500px;
	height:304px;
	background:#fff;
	border-radius:8px;
	z-index:9999;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
	 -ms-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
.pop .close-btn{
	display:block;
	position:absolute;
	right:15px;
	top:15px;
	width:20px;
	height:20px;
	background:url(../img/Close.png) center center no-repeat;
	cursor:pointer;
}
.pop p{
	line-height:50px;
	height:50px;
	padding:0 13px;
	background:url(../img/pop-background.png) 0px 0px repeat-x;
	font-size:16px;
	color:#fff;
}
.form{
	padding:0 52px;
	margin-top:30px;
}
.pop input{
	width:395px;
	height:34px;
	outline:none;
	border:0;
	border-bottom:1px solid #333333;
	margin-bottom:10px;
}
.lijidingzhi{
	display:block;
	width:190px;
	height:42px;
	background:#ff4747;
	color:#fff;
	text-align:center;
	line-height:42px;
	font-size:14px;
	margin:51px auto;
	border-radius:4px;
}
.ctrl .active{
	background:#333;
}
.list-head{
	display: none;
}
#header .head-nav .head-nav-list{
	margin-left: 0;
}

