/*
* @Author: lizeshuai
* @Date:   2017-01-12 15:36:10
* @Last Modified by:   lizeshuai
* @Last Modified time: 2017-02-21 17:23:08
*/
@charset "UTF-8";

#header {
    height: 122px;
}
.header-content-bottom-box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.1);
}
.line {
    float: left;
    height: 68px;
    width: 1px;
    background: #000;
    margin-top: -26px;
    margin-left: 8px;
}
.title-word {
    font-size: 17px;
    float: left;
    margin-top: 14px;
    margin-left: 14px;
    color: #333333;
}



.addhide{
    display: none;
}
.empty-cart{
    height: 305px;
}
.empty-cart .empty-cart-main{
    margin:0 auto;
    width: 320px;
    height: 262px;
}
.empty-cart .empty-img{
    width: 225px;
    height: 162px;
    margin:0 auto;
    margin-top: 50px;
}
.empty-cart .empty-img img{
    width: 100%;
}
.empty-cart p{
    text-align: center;
    margin-top: 26px;
    font-size: 16px;
    color: #595959;
}
.empty-cart .lookindex{
    margin-top: 20px;
}
.empty-cart .lookindex a{
    margin:0 auto;
    display: block;
    width: 152px;
    height: 36px;
    background-color: #FF5252;
    color: #fff;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
}
.footer{
    height: 126px;
    background-color: #3A3A3A;
    color:#B9B9B9;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer-main{
    width: 1200px;
    margin:0 auto;
    height: 101px;
    padding-top: 25px;
}
.footer-main .footer-left{
    float: left;
}
.footer-main .footer-left>ul>li{
    float: left;
    margin-left: 10px;
}
.footer-main .footer-left>ul>li:nth-child(1){
    margin-left: 0px;
}
.footer-main .footer-left>ul>li a{
    color: #B9B9B9;
}
.footer-main .footer-second{
    margin-top: 12px;
}
.footer-main .footer-second span:nth-child(1){
    width: 214px;
    display: inline-block;
}
.footer-main .footer-second span:nth-child(3){
    margin-left: 50px;
}
.footer-main .footer-last{
    margin-top: 12px;
}
.footer-main .footer-last span:nth-child(1){
    width: 214px;
    display: inline-block;
}
.footer-main .footer-right{
    float: right;
    width: 190px;
}
.footer-main .erweima{
    float: left;
    width: 77px;
    height: 77px;
}
.footer-main .erweima-p{
    float: left;
    margin-top: 20px;
    margin-left:7px;
}
.footer-main .erweima-p2{
    margin-top: 8px;
}
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}