section{
	width:1920px;
}
#videoBox{
	position:relative;
	overflow:hidden;
}
.content-area{
	width:800px;
	height:256px;
	margin:0 auto;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-400px;
	margin-top:-128px;
	text-align:center;
	z-index:999;
}
.logo{
	width:155px;
	height:60px;
	position:absolute;
	top:0;
	left:0;
	padding:20px;
	background:url(../img/LOGO-2.png) center center no-repeat;
	z-index:9999;
}
#mask{
	position:absolute;
	top:0;
	left:0;
	background:#000;
	opacity:0.5;
	display:block;
}
.advertice{
	width:800px;
	height:130px;
	color:#fff;
}
.advertice h1{
	font-size:52px;
	margin-bottom:32px;
	font-weight:100;
}
.advertice p{
	line-height:33px;
	font-size:16px;
}
.content-area a{
	margin-top:80px;
}
/*floor-1*/
.floor-1{
	width:1425px;
	height:804px;
	margin:0 auto;
	position:relative;
}
.floor-1-left{
	position:absolute;
	top:-40px;
	left:0;
	border:5px solid #141414;
	width:432px;
	height:627px;
	margin-right:154px;
	z-index:9999;
	background:#fff;
}
.floor-1-box{
	position:absolute;
	top:169px;
	right:0;
	width:834px;
	height:444px;
	border-top:1px dashed #ff4747;
	padding-top:26px;
}
.jiandao{
	width:15px;
	height:13px;
	background:url(../img/jiandao-icon.png) center center no-repeat;
	position:absolute;
	right:-7.5px;
	top:-6.5px;
	font-size:0;
}
.floor-1-box a{
	display:block;
	width:100%;
	height:100%;
}
.floor-1-img1,
.floor-1-img2,
.floor-1-img3,
.floor-1-img4{
	width:208px;
	height:440px;
	float:left;
}
.floor-1-img1{
	background:url(../img/white.jpg) center center no-repeat;
}
.floor-1-img2{
	background:url(../img/cooker.jpg) center center no-repeat;
}
.floor-1-img3{
	background:url(../img/waiter.jpg) center center no-repeat;
}
.floor-1-img4{
	background:url(../img/student.jpg) center center no-repeat;
}
.floor-1-left a{
	margin-left:40px;
}
.chuantong5{
	width:343px;
	margin-top:60px;
	margin-left:40px;
	margin-bottom:64px;
	background:;
}
.chuantong5 h1{
	font-size:40px;
	margin-bottom:54px;
	line-height:70px;
	color:#333;
	font-weight:200;
}
.chuantong5 p{
	font-size:16px;
	line-height:33px;
	color:#333;
}
/*floor-2*/
.floor-2{
	margin:0 auto;
	width:1400px;
	height:701px;
}
.floor-2-left{
	float:left;
}
.floor-2-right{
	float:right;
	position:relative;
	margin-right:116px;
}
.origin1{
	width:357px;
	height:567px;
	border:5px solid #141414;
}
.origin1 a{
	display:block;
	width:100%;
	height:100%;
}
.chuantong4{
	width:438px;
	margin-top:150px;
	margin-bottom:80px;
}
.chuantong4 h1{
	font-size:40px;
	margin-bottom:50px;
	line-height:70px;
	color:#333;
	font-weight:200;
}
.chuantong4 p{
	font-size:16px;
	line-height:33px;
	color:#333;
}
.floor-2-img1,
.floor-2-img2,
.floor-2-img3,
.floor-2-img4,
.floor-2-img5,
.floor-2-img6,
.floor-2-img7,
.floor-2-img8,
.floor-2-img9,
.floor-2-img10{
	position:absolute;
}

.floor-2-img1{
	width:102px;
	height:102px;
	background:url(../img/3-1.png) center center no-repeat;
	top:65px;
	left:-292px;
}
.floor-2-img2{
	width:53px;
	height:53px;
	background:url(../img/4-1.png) center center no-repeat;
	top:140px;
	left:-32px;
}
.floor-2-img3{
	width:77px;
	height:77px;
	background:url(../img/1-1.png) center center no-repeat;
	top:110px;
	right:-155px;
}
.floor-2-img4{
	width:111px;
	height:151px;
	background:url(../img/6-1.png) center center no-repeat;
	top:50%;
	margin-top:-75.5px;
	left:-240px;
}
.floor-2-img5{
	width:101px;
	height:140px;
	background:url(../img/7-1.png) center center no-repeat;
	top:50%;
	margin-top:-70px;
	left:-50.5px;
}
.floor-2-img6{
	width:172px;
	height:260px;
	background:url(../img/8-1.png) center center no-repeat;
	top:50%;
	left:188px;
	margin-left:-86px;
	margin-top:-130px;
}
.floor-2-img7{
	width:91px;
	height:145px;
	background:url(../img/9-1.png) center center no-repeat;
	top:50%;
	margin-top:-72.5px;
	right:-45px;
}
.floor-2-img8{
	width:115px;
	height:142px;
	background:url(../img/10-1.png) center center no-repeat;
	top:50%;
	margin-top:-71px;
	right:-241px;
}
.floor-2-img9{
	width:118px;
	height:118px;
	background:url(../img/2-1.png) center center no-repeat;
	bottom:-14px;
	left:-137px;
}
.floor-2-img10{
	width:53px;
	height:53px;
	background:url(../img/5-1.png) center center no-repeat;
	bottom:64px;
	right:-294px;
}
/*floor-3*/
.floor-3{
	margin:0 auto;
	width:1200px;
	height:792px;
}
.origin{
	width:423px;
	height:423px;
	border:5px solid #141414;
	float:left;
	margin-top:106px;
	position:relative;
}
.origin a{
	display:block;
	width:100%;
	height:100%;
}

.floor-3-img1{
	width:71px;
	height:94px;
	position:absolute;
	top:158px;
	left:-191px;
	background:url(../img/1.png) center center no-repeat;
}
.floor-3-img2{
	width:48px;
	height:67px;
	position:absolute;
	left:-81px;
	bottom:-95px;
	background:url(../img/2.png) center center no-repeat;
}
.floor-3-img3{
	width:53px;
	height:70px;
	position:absolute;
	bottom:-122px;
	right:-204px;
	background:url(../img/3.png) center center no-repeat;
}
.floor-3-img4{
	width:168px;
	height:243px;
	top:-110px;
	left:-80px;
	position:absolute;
	background:url(../img/jiandao.jpg) center center no-repeat;
}
.floor-3-img5{
	width:334px;
	height:502px;
	position:absolute;
	top:102px;
	left:148px;
	background:url(../img/photo.jpg) center center no-repeat;
	box-shadow: 0px 0px 17.3px 6.7px rgba(0, 0, 0, 0.15);
}
.floor-3-right{
	float:right
}
.chuantong2{
	width:434px;
	margin-bottom:85px;
}
.chuantong2 h1{
	font-size:40px;
	line-height:70px;
	color:#333;
	font-weight:200;
}
.chuantong2 p{
	font-size:16px;
	line-height:33px;
	color:#333;
}
.chuantong2 p:nth-child(2){
	margin-bottom:40px;
}
/*floor-4*/
.floor-4{
	margin:0 auto;
	width:1200px;
	height:460px;
	margin-bottom:131px;
	position:relative;
}
.chuantong1{
	width:560px;
	margin-bottom:86px;
}
.chuantong1 h1{
	font-size:40px;
	line-height:70px;
	color:#333;
	font-weight:200;
}
.chuantong1 p{
	font-size:16px;
	line-height:33px;
	color:#333;
}
.chuantong1 p:nth-child(2){
	margin-bottom:40px;
}
.floor-4-right{
	width:750px;
	height:460px;
	position:absolute;
	right:-270px;
	top:0px;
	background:url(../img/black.jpg) center center no-repeat;
}
/*floor-5*/
#floor-5{
	background:#333333;
}
.floor-5{
	margin:0 auto;
	width:1200px;
	height:612px;
}
.floor-5-left{
	padding-top:60px;
	float:left;
}
.floor-5-left div{
	width:530px;
	height:143px;
	margin-bottom:30px;
}
.left-1{
	background:url(../img/left-1.jpg) center center no-repeat;
}
.left-2{
	background:url(../img/left-2.jpg) center center no-repeat;
}
.left-3{
	background:url(../img/left-3.jpg) center center no-repeat;
}
.floor-5-right{
	float:left;
	padding-top:90px;
	margin-left:103px;
}
.floor-5-right .chuantong{
	width:566px;
	margin-bottom:40px;
}
.chuantong h1{
	font-size:40px;
	line-height:70px;
	color:#fff;
	font-weight:200;
	margin-bottom:53px;
}
.chuantong p{
	font-size:16px;
	line-height:33px;
	color:#fff;
}
/*floor-6*/
#floor-6{
	height:601px;
	margin-top:93px;
}
.floor-6{
	width:1195px;
	margin:0 auto;
}
.floor-6 a{
	display:block;
	width:100%;
	height:100%;
}
.floor-6-img{
	border:1px solid #ccc;
	width:296px;
	height:298px;
	float:left;
}
.floor-6-img:nth-child(1),.floor-6-img:nth-child(2),.floor-6-img:nth-child(3){
	border-bottom:0;
	border-right:0;
}
.floor-6-img:nth-child(4){
	border-bottom:0;
}
.floor-6-img:nth-child(5),.floor-6-img:nth-child(6),.floor-6-img:nth-child(7){
	border-right:0;
}
.floor-6-img:nth-child(1){
	background:url(../img/img1.jpg) center center no-repeat;
}
.floor-6-img:nth-child(2){
	background:url(../img/img2.jpg) center center no-repeat;
}
.floor-6-img:nth-child(3){
	background:url(../img/img3.jpg) center center no-repeat;
}
.floor-6-img:nth-child(4){
	background:url(../img/img4.jpg) center center no-repeat;
}
.floor-6-img:nth-child(5){
	background:url(../img/img5.jpg) center center no-repeat;
}
.floor-6-img:nth-child(6){
	background:url(../img/img6.jpg) center center no-repeat;
}
.floor-6-img:nth-child(7){
	background:url(../img/img7.jpg) center center no-repeat;
}
.floor-6-img:nth-child(8){
	background:url(../img/img8.jpg) center center no-repeat;
}
/*floor-bottom*/
#floor-bottom{
	height:288px;
}
#floor-bottom div{
	margin:0 auto;
	margin-top:62px;
	width:1200px;
	height:288px;
	text-align:center;
}
#floor-bottom p{
	margin-left:291px;
	margin-bottom:46px;
	font-size:0;
	width:622px;
	height:92px;
	background:url(../img/floor-bottom-word.png) center center no-repeat;
	border-bottom:1px dashed #ff4747;

}